@use '../../styles/mixin' as mixin;

.page-guides {
  min-height: 100vh;

  .inner {
    display: grid;
    gap: 8rem;
    grid-template-columns: minmax(0, 0.5fr) minmax(0, 2fr);
    position: relative;
    min-height: 100vh;
  }

  .guide-content {
    padding-top: 50px;
  }

  .sidebar {
    position: sticky;
    top: 100px;
    padding-top: 60px;
    height: calc(100vh - 100px);
    box-sizing: border-box;

    .sidebar-menu {
      height: calc(100vh - 300px);
      overflow-y: auto;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
