@use '../../styles/mixin' as mixin;

.guide-content {
  .title-guide {
    @include mixin.font-faktum;
    color: var(--primary);
    font-size: 4.2rem;
    font-weight: 700;

    & + .section-content {
      margin: 20px 0;
      font-size: 2rem;
    }

    @include mixin.tablet {
      overflow: auto;
      font-size: 2.8rem;

      & + .section-content {
        margin: 15px 0;
        font-size: 1.6rem;
      }
    }
  }
}
