@use '../../styles/mixin.scss' as mixin;

.page-try {
  .inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: calc(100vh - 100px);
    box-sizing: border-box;
  }

  .header-sample {
    @include mixin.font-faktum;
    height: 200px;
    background-color: #fab1a0;
    padding: 20px;
    font-size: 3rem;
    font-weight: 700;
    color: var(--black);
    box-sizing: border-box;
  }

  .container-sample {
    flex: 1;
    display: flex;
    gap: 20px;

    .title-sample {
      @include mixin.font-faktum;
      font-size: 3rem;
      font-weight: 700;
      color: var(--black);
    }
  }

  .area-try {
    display: flex;
    gap: 40px;
    width: 100%;
  }

  .section-sample {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: #dfe6e9;
    border: 1px solid var(--white);
    padding: 20px;
    box-sizing: border-box;
  }

  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 50px;
    font-weight: bold;
    line-height: 100px;
    width: 100px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
  }

  .board-row:after {
    clear: both;
    content: '';
    display: table;
  }

  .status {
    margin: 20px 0 10px;
    @include mixin.font-faktum;
    font-size: 2rem;
    font-weight: 700;
    color: var(--black);
  }

  .game {
    display: flex;
    flex-direction: row;
  }

  .game-info {
    display: none;
  }

  .footer {
    @include mixin.font-faktum;
    height: 200px;
    background-color: #fdcb6e;
    padding: 20px;
    font-size: 3rem;
    font-weight: 700;
    color: var(--black);
    box-sizing: border-box;
  }
}
