@font-face {
  font-family: 'Faktum';
  src: url('../assets/fonts/Faktum-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Faktum';
  src: url('../assets/fonts/Faktum-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../assets/fonts/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../assets/fonts/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: bold;
}
