@use '../../styles/mixin' as mixin;

.page-intro {
  .code-example {
    width: 80%;
  }
}

.section-intro {
  height: calc(100vh - 100px);
  padding: 50px 0;
  border-bottom: 1px solid var(--white);
  box-sizing: border-box;

  .inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .title-intro {
    @include mixin.font-faktum;
    font-size: 11rem;
    font-weight: 400;
    letter-spacing: -0.8rem;
    line-height: 1;
  }

  .area-info {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
}

.link-repository {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  min-height: 80px;
  padding: 0 20px;
  border-radius: 16px;
  background-color: var(--primary);
  font-family: 'consolas';
  font-size: 2rem;
  font-weight: 700;
  color: var(--black);

  &:after {
    width: 20px;
    height: 20px;
    background: url('../../assets/icons/icon-github.png') no-repeat center;
    background-size: cover;
    content: '';
  }
}

.section-how-work {
  padding: 80px 0;
  box-sizing: border-box;

  .title {
    @include mixin.font-faktum;
    font-size: 7rem;
    font-weight: 400;
    letter-spacing: -0.5rem;
  }
}
