@use '../../styles/mixin' as mixin;

.code-example {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  min-height: 80px;
  padding: 0 20px;
  border: 1px solid var(--white);
  border-radius: 16px;
  background-color: var(--code-bg-color);
  box-sizing: border-box;

  @include mixin.tablet {
    min-height: 60px;
  }

  pre {
    overflow-x: auto;
  }

  code {
    font-size: 2rem;
    color: var(--white);

    @include mixin.tablet {
      font-size: 1.6rem;
    }
  }

  .code-copy {
    position: relative;

    .btn-copy {
      padding: 5px;
      border: none;
      background: none;
      cursor: pointer;

      img {
        width: 18px;
      }
    }

    .copy-icon-message {
      position: absolute;
      top: 100%;
      left: 50%;
      background-color: #333;
      padding: 5px 10px;
      margin-top: 5px;
      border-radius: 3px;
      color: #fff;
      white-space: nowrap;
      transform: translateX(-50%);
      transition: opacity 0.3s linear;
      opacity: 0;

      &.is-active {
        opacity: 1;
      }
    }
  }
}
